<ul class="team-list">
  <li class="team-list__member">
    <img src="/assets/img/cultivate-logo.svg" alt="cultivate logo">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/lloyd.png" alt="Dave Lloyd client">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/terry.png" alt="Terry Huggins SME">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/boxman.png" alt="james box principle UX designer">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/batesy.png" alt="james bates principle UI designer">
  </li>
</ul>
