<ul class="team-list">
  <li class="team-list__member">
    <img src="/assets/img/pikl-fav-icon.svg" alt="pikl logo">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/louise-birriterri.png" alt="louise birriterri CEO of Pikl">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/anna-marie-powell.png" alt="Anna-Marie Powell Pikl Head of Marketing">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/jon-kirk.png" alt="Jon Kirk partnerships director at Pikl">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/wayne-dunthorne.png" alt="Wayne Dunthorne broker sales director at Pikl">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/lee-turner.jpg" alt="Lee Turner Creative Armoury Creative Director">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/lee-scarfe.jpg" alt="Lee Scarfe Creative Armoury MD">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/mark-faraday.jpg" alt="Mark Faraday Made by Sauce development partner">
  </li>
  <li class="team-list__member">
    <img src="/assets/img/richard-crowther.jpg" alt="Richard Crothwer Developer at Made by Sauce">
  </li>
</ul>
