.callout {
  position: relative;
  @include material-shadow(2);
  transition: all 0.2s ease-in-out;
  @include breakpoint(medium) {
    padding: 1.5rem 2rem 2rem 2rem;
  }
  background-color: $cloud-white;
  &.yellow {
    background-color: $yellow;
  }
}
