.welcome-image {
  width: 100%;
  @include material-shadow(1);
}


.welcome-content {
  .cell {
    @include breakpoint(small) {
      margin-top: -4rem;
    }
    @include breakpoint(medium) {
      margin-top: -10rem;
      height: fit-content;
      padding-bottom: 3rem;
    }
    @include breakpoint(large) {
      margin: -30rem 0rem 10rem;
    }
    @include breakpoint(xxlarge) {
      margin: -40rem 0rem 20rem;
    }
  }
}

.services-content {
  .cell  {
    @include breakpoint(small) {
      margin-top: -4rem;
    }
    @include breakpoint(medium) {
      margin-top: -10rem;
      height: fit-content;
      padding-bottom: 3rem;
    }
    @include breakpoint(large) {
      margin-top: -20rem;
    }
    @include breakpoint(xlarge) {
      margin-top: -25rem;
    }
  }
}

.story-video {
  @include breakpoint(large) {
    order: 2;
    margin-top: -6rem;
    z-index: 2;
  }
  @include breakpoint(xlarge) {
    margin-top: -4rem;
  }
}

.story-content {
  margin-top: -2rem;
  z-index: 2;
  @include breakpoint(large) {
    margin: 0;
  }
}

.story {
  padding: 4rem 0;
  @include breakpoint(large){
    padding: 8rem 0;
  }
}

.portfolio {
  background-color: $pale-gray;
  padding-bottom: 4rem;
  @include breakpoint(large) {
    padding-bottom: 8rem;
  }
}

.portfolio-heading {
  margin-bottom: 2rem;
  padding-top: 4rem;
  @include breakpoint(large) {
    padding-top: 8rem;
  }
}

section.clients {
  background-color: $white;
}

.clients__content {
  margin-bottom: 4rem;
  @include breakpoint(large) {
    order: 2;
    margin-bottom: 0;
  }
}

section.clients,
section.contact {
  padding: 4rem 0;
  @include breakpoint(medium) {
    padding: 6rem 0;
  }
  @include breakpoint(large) {
    padding: 8rem 0;
  }
  @include breakpoint(xlarge) {
    padding: 12rem 0;
  }
}

section.testimonials {
  padding: 4rem 0 2rem 0;
  @include breakpoint(medium) {
    padding: 6rem 0 3rem 0;
  }
  @include breakpoint(large) {
    padding: 8rem 0 4rem 0;
  }
  @include breakpoint(xlarge) {
    padding: 12rem 0 6rem 0;
  }
}

section.portfolio,
section.services {
  padding-top: 0;
}

section.services {
  background: $pale-gray;
  padding-bottom: 4rem;
  @include breakpoint(large) {
    padding-bottom: 8rem;
  }
}


.logo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  .cell {
    margin-bottom: 2rem;
    @include breakpoint(large) {
      margin-bottom: 3rem;
    }
  }
}

.logo-grid__item {
  margin-bottom: 2rem;
  text-align: center;
}

section.testimonials {
  background: $pale-gray;
}

section.contact {
  background-color: $pale-blue;
}
